.App {
  text-align: center;
  overflow-x: hidden;

}

.hide {
  display: none;
}

.blur {
  filter: blur(7px);
}

.opaque {
  opacity: 1;
}

#main-page-div {
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 0;
}

.main-banner {
  padding-top: 50px;
  width: 400px;
}

.main-subheader {
  padding-top: 10px;
  width: 150px;
}

#panel-grid-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9vw, 9vw));
  margin-left: 5vw;
  margin-top: 40px;
  width: 90vw;
  height: auto;
  z-index: 2;
  outline: 2px solid orange;
}

.panel-div {
  width: auto;
  height: 12vw;
}

.panel-thumbnail {
  width:100%;
  height:100%;
  transition: opacity 0.2s;
}

#panel-grid-div:hover img{
  cursor: pointer;
  opacity: 0.3;
}

.panel-div:hover img{
  opacity: 1 !important;
  margin-bottom: 2px;
  margin-right: 1px;
  outline: 2px solid orange;
}

.about-div {
  text-align: left;
  margin-left: 5vw;
  height: 300px;
  width: 90vw;
  margin-top: 50px;
  margin-bottom: 50px;
  border-width: 1px;
  border-color: orange;
  border-style: solid;
}

#detail-page-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: aquamarine; */
  /* background-color: rgb(228, 228, 228); */
  position:fixed;
  top:0;
  z-index:20;
  text-align: left;
}

#detail-page-panel-div div{
  width:22vw;
  margin-right:350px;
  margin-top:15%;
}

#detail-page-panel-div img{
  height: auto;
  outline: none;
}

#detail-title {
  font-size: 64pt;
  margin-left: 100px;
  margin-top: 10vh;
  color: orange;
  padding: 0;
  text-align: center;
}

#detail-title-text {
  margin-bottom: 0;
  width: 20vw;
  height: 20vh;
  border-width: 2px;
  border-color: orange;
  border-style: solid;
  font-size: 20pt;
  word-wrap: break-word;
}