.App {
  text-align: center;
}

.landing-page-div {
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow-x: hidden;
}

.main-banner {
  padding-top: 50px;
  width: 400px;
}

.main-subheader {
  padding-top: 10px;
  width: 150px;
}

.panel-grid-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9vw, 9vw));
  margin-left: 5vw;
  margin-top: 40px;
  width: 90vw;
  height: auto;
}

.panel-div {
  width: auto;
  height: 12vw;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.panel-thumbnail {
  width:100%;
  height:100%;
}

.panel-row-div {
  width: 100%;
  height: 12vw;
  background-color: pink;
}

.about-div {
  margin-left: 5vw;
  height: 300px;
  width: 90vw;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: teal;
}
